body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #faf4d3;
}

.category {
  height: 16rem;
  width: 12rem;
  margin: 1.5rem;
  color: white;
  padding: 2rem;
  text-align: center;
  background-color: #004643;
  font-size: 1rem;
  line-height: normal;
  float: left;
}

.task {
  border: 1px dashed gray;
  background-color: #faf4d3;
  color: #0c1618;
  padding: .5rem;
  margin: .5rem;
  cursor: move;
  float: left;
}

